*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

h1 {
    color: #000000;
    font-family: Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

h2 {
    color: black;
    font-family: Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-top: 5px dotted yellow;
    margin-top: 10px;
}

h3 {
    color: black;
    font-family: Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-top: 15px groove cyan;
    margin-top: -3px;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: gradient 10s ease infinite;
}

.grid-gallery{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.grid-gallery .grid-item{
    position: relative;
    background-color: aliceblue;
    overflow: hidden;
}

.grid-gallery .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 5% 2%;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item:hover img{
    transform: scale(1.1);
}

.grid-gallery .grid-item a{
    cursor: -moz-zoom-in;
}

.grid-gallery .grid-item:nth-child(3n - 2){
    grid-column: span 2;
    grid-row: span 2;
}

@media(max-width:768px){
    .grid-gallery{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }
    .grid-gallery .grid-item:nth-child(3n - 2){
        grid-column: unset;
        grid-row: unset;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}